.portfolio__text {
  max-width: 660px;
  max-height: 544px;
  padding-top: 6px;
  margin: 0;
  color: var(--colorAuroMetalSaurus);
  overflow: hidden;
  letter-spacing: 1px;
}

@media screen and (max-width: 1023px) {
  .portfolio__text {
    max-width: none;
    padding-top: 0;
  }
}