.text_button {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: #5F4CFF;
  text-align: center;
  padding: 14px 0;
}

.text_button:hover {
  color: rgba(28, 60, 86, 1);
  cursor: pointer;
}

.text_button:focus {
  color: rgba(28, 60, 86, 1);
}