.card__heading {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}

.why-outsmart .card__heading {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #005499;
}