.afterword__paragraph {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.8px;
    margin: 0 0 20px;
    padding: 0;
}

.afterword__paragraph:last-child {
    margin: 0;
}