.certifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}

@media screen and (max-width: 1023px) {
  .certifications {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4.8%;
  }
}