.form__caption {
  margin: 0;
  color: var(--colorWhite);
  opacity: 0;
  line-height: 16px;
  letter-spacing: -.2px;
  font-size: 16px;
  font-weight: 400;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}