.outsmart__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  row-gap: 40px;
}