.portfolio__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 36px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 760px;
          flex: 0 1 760px;
}