.long-card_place_portfolio {
  align-items: flex-start;
  margin: 0;
  max-width: 1200px;
  padding-bottom: 68px;
  padding-top: 60px;
}

.no-webp .long-card_place_portfolio {
  background-image: url('../../../images/background/secondary-direct@1x.png');
}

.webp .long-card_place_portfolio {
  background-image: url('../../../images/background/secondary-direct@1x.webp');
}

.no-webp .long-card_place_portfolio:nth-of-type(2) {
  background-image: url('../../../images/background/secondary-reverse@1x.png');
}

.webp .long-card_place_portfolio:nth-of-type(2) {
  background-image: url('../../../images/background/secondary-reverse@1x.webp');
}

@media /* only for retina displays */
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .no-webp .long-card_place_portfolio {
    background-image: url('../../../images/background/secondary-direct@2x.png');
  }
  
  .webp .long-card_place_portfolio {
    background-image: url('../../../images/background/secondary-direct@2x.webp');
  }
  
  .no-webp .long-card_place_portfolio:nth-of-type(2) {
    background-image: url('../../../images/background/secondary-reverse@2x.png');
  }
  
  .webp .long-card_place_portfolio:nth-of-type(2) {
    background-image: url('../../../images/background/secondary-reverse@2x.webp');
  }

}