.navbar__close {
  width: 48px;
  height: 48px;
  border: 0;
  background: rgba(99, 114, 126, .1);
  border-radius: 50%;
  background-image: url(../../../images/navbar-close.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.navbar__close:hover {
  background: rgba(99, 114, 126, .25);
}

.navbar__close:checked {
  background: rgba(99, 114, 126, .5);

}