.form__button-reset {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(../../../images/form-cross.svg);
    background-size: cover;
    border: none;
    position: absolute;
    top: 23px;
    right: 24px;
}

.form__button-reset:hover {
    cursor: pointer;
    opacity: 0.6;
}