.section-title {
  margin: 0;
  color: var(--colorAuroMetalSaurus);
  line-height: 16px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 16px;
}

@media screen and (max-width: 1023px) {
  .section-title {    
    line-height: 16px;
    letter-spacing: 14.2px;
    font-size: 14px;
  }
}