.section-title {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 16px;
  color: #63727E;
  text-transform: uppercase;
}