.services__left-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
}

@media screen and (max-width: 960px) {
  .services__left-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 146px;
            flex: 1 0 146px;
  }
}