.form__button {
  background: #1c3c56;
  box-shadow: 0px 5px 30px rgba(50, 137, 255, 0.5);
  border: none;
  border-radius: 32px;
  padding: 16px 40px;
  align-self: center;

  font-family: 'Graphik';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
