.certifications__logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
  max-width: 1200px;
  list-style-type: none;
}