.afterword__heading {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  color: #005499;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
}