.header__menu {
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  height: 12px;
  padding: 0;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.header__menu:hover {
  background-image: url(../../../images/menu-hover.svg);
}