.banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .banners {  
    gap: 4%;
  }
}