.promo__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 120px;
  box-sizing: border-box;
}
@media (max-width: 1439px) {
  .promo__wrapper{
    padding: 80px 48px;
  }
}
