.approach {
  padding: 0 120px 158px 120px;
}

@media screen and (max-width: 1439px) {
  .approach {
    padding: 0 60px 80px 60px;
  }
}

@media screen and (max-width: 768px) {
  .approach {
    gap: 66px;
    padding: 0 48px 79px 48px;
  }
}