.services {
  background: linear-gradient(180deg, #EBF4FA 0%, #FFFFFF 48.7%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1320px;
  padding: 100px 0 0 120px;
  row-gap: 100px;
}