.marks-list {
  align-items: flex-start;
  box-sizing: border-box;
  column-gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  max-width: 1200px;
  min-height: 252px;
  padding: 0;
}