.get__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 24px;
  margin: 0;
  min-width: 560px;
  background: #FFFFFF;
  border-radius: 6px;
  border: none;
  color: #005499;
  box-sizing: border-box;
}

.get__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  color: #B2CFDB;
}

.get__input:focus {
  box-shadow: 0 2px 7px rgba(50, 137, 255, 0.7);
  color: #005499;
  outline-width: 0;
}
.get__input:invalid{
  border: 1px solid #E21111;
  box-shadow: 0 2px 7px rgba(50, 137, 255, 0.7);
  outline-width: 0;
}