.promo__menu {
  margin: 0;
  background-image: url("../../../images/promo-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 24px;
  min-height: 4px;
  cursor: pointer;
}

.promo__menu:hover {
  filter: brightness(0%);
}
