.why__card-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #005499;
}

@media (max-width: 1439px) {
  .why__card-title {
    font-size: 18px;
    line-height: 28px;
  }
}
