.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
}

@media screen and (max-width: 1023px) {
  .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 66.7%;
  }
}