.get-in-touch__form-button {
  align-self: center;
  background-color: #1c3c56;
  border-radius: 32px;
  border: 0;
  box-shadow: 0px 5px 30px rgba(50, 137, 255, 0.5);
  color: #fff;
  font-size: 20px;
  height: 64px;
  line-height: 32px;
  width: 218px;
  transition: box-shadow .2s linear;
}

.get-in-touch__form-button:hover {
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(50, 137, 255, 0.7);
}

.get-in-touch__form-button:active {
  box-shadow: 0 1px 2px rgba(50, 137, 255, 0.9);
}