.footer__phone {
  margin: 0;
  text-decoration: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
}
.footer__phone:hover {
  opacity: 0.5;
  transition: opacity .3 ease-in-out;
  cursor: pointer; 
}