.services__text {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #63727E;
  transition: color .3s ease-in-out;

}

.services__card:hover .services__text {
  color: white;
}