.approach__title_ico_lens::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 60px;
    width: 120px;
    height: 120px;
    background-image: url(../../../../images/ico/lens-item.svg), url(../../../../images/ico/back_lens_ico.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.approach__title_ico_lens::after {
    content: '';
    position: absolute;
    top: 27px;
    right: 30px;
    width: 67px;
    height: 90px;
    background-image: url(../../../../images/ico/Figure_two.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}