.approach__title_ico_bino::before {
    content: '';
    position: absolute;
    top: 60px;
    left: 60px;
    width: 120px;
    height: 120px;
    background-image: url(../../../../images/ico/bino_ico.png);
    background-size: cover;
}

.approach__title_ico_bino::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 43px;
    width: 34px;
    height: 90px;
    background-image: url(../../../../images/ico/Figure_one.svg);
    background-size: cover;
}