.heading_main {
  padding: 394px 480px 40px 120px;
  margin: 0;
  color: #fff;
  font-weight: 200;
  font-size: 80px;
  line-height: 80px;
  position: relative;
  z-index: 2;
  max-width: 840px;
  width: 100%;
}