.box__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  max-width: 1080px;
  gap: 60px;
}

@media screen and (max-width: 960px) {
  .box__item-container {
    gap: 13.17%;
  }
}