.approach__card-text{
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #63727E;
  max-width: 290px;
}

@media (max-width: 1439px) {
  .approach__card-text {
    font-size: 18px;
    max-width: 336px;
  }
}
