.cards__item_portfolio { 
  display: flex;
  justify-content:  space-between;
  align-items: flex-start;
  max-height: 448px;
  height: 100%;
  max-width: 1200px;
  width: 100%;
  padding: 60px;
}



