.menu__link_states .menu__image {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu__link_states:hover .menu__image {
  fill: #000;
}

.menu__link_states:focus .menu__image {
  fill: #000;
}