.get-in-touch__label {
  margin: 8px auto 56px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  width: 560px;
  position: relative;
}