.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  width: 100%;
}