.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0px 0px;
  position: relative;
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  margin: auto;
}