.portfolio {
  padding: 100px 120px 160px 120px;
}

@media screen and (max-width:1439px) {
  .portfolio {
    padding: 77px 60px 116px 60px;
    gap: 66px;
  }
}

@media screen and (max-width:768px) {
  .portfolio {
    padding: 77px 48px 116px 48px;
  }
}