.text_coverage {
  max-width: 470px;
  width: 100%;
  height: 128px;
  padding: 40px 58px 0px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #fff;
  text-align: left;
}





