.services__long-card {
  background-color: #FFF;
  background-image: url(../../../images/background-portfolio.svg);
  background-position: center;
  background-size: 1440px 920px;
  background-repeat: no-repeat;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 81, 192, 0.5);
  box-sizing: border-box;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  mix-blend-mode: multiply;
  padding: 58px 50px 60px 60px;
  transition: all 0.2s ease-in-out;
  width: 1200px;
}

.services__long-card:hover {
  background-image: url(../../../images/reverse-background.png);
  background-image: image-set('../../../images/reverse-background.png' 1x, '../../../images/reverse-background-2x.png' 2x);
  background-image: -webkit-image-set(url('../../../images/reverse-background.png') 1x,
      url('../../../images/reverse-background-2x.png') 2x);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 10px 20px rgba(50, 137, 255, 0.4);
}

@supports (background-image: url('../../../images/reverse-background.webp')) {
  .services__long-card:hover {
    background-image: url('../../../images/reverse-background.webp');
    background-image: image-set('../../../images/reverse-background.webp' 1x, '../../../images/reverse-background-2x.webp' 2x);
    background-image: -webkit-image-set(url('../../../images/reverse-background.webp') 1x,
        url('../../../images/reverse-background-2x.webp') 2x);
  }
}

.services__long-card:hover .card__label {
  background-color: #FFF;
  color: #4E7595;
}

.services__long-card:hover .card__title {
  color: #FFF;
}