.numbered-cards__item {
  position: relative;
}

.numbered-cards__item::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 11px;
  right: 29px;
  width: 75px;
  height: 120px;
  color: var(--colorAliceBlue);
  line-height: 120px;
  font-size: 120px;
  counter-increment: myCounter;
  content: counter(myCounter);
}