.menu__ref_states {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu__ref_states:hover,
.menu__ref_states:focus {
  color: #37e0ff;
}