.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .menu__list {
    gap: 12.5px;
  }
}