.form__input-container {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 260px;
  padding: 0px;
  margin: 0;
  position: relative;
  border: none;
}