.outsmart__subtitle {
  margin: 0;
  color: var(--colorUsafaBlue);
  letter-spacing: .8px;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .outsmart__subtitle {    
    line-height: 1.56;
    font-size: calc(1vw + 10px);
    letter-spacing: 1.05px;
  }
}