.button_header{
  min-height: 44px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 5px 30px rgba(50, 137, 255, 0.5);
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding: 0 24px;
}
