.get{
  background-image: url("./images/bg-main-direct.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-resolution: 2dppx) {
  .get{
    background-image: url("./images/bg-main-direct@2x.png");
  }
}