.get{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-image: url("./images/bgd.png");
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .get{
    background-image: url("./images/bgd-x2.png");
  }
}