.promo {
  background-image: url(../../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 100px 120px 100px;
  position: relative;
}