.promo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  min-height: 920px;
  padding: 100px 120px 102px 120px;
  position: relative;
  width: 100%;
}

@media screen and (max-width:1439px) {
  .promo {
    min-height: 0;
    padding: 100px 60px 102px 60px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 80px 48px;
  }
}