.input {
  box-sizing: border-box;
  width: 560px;
  margin:0;
  padding: 24px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  border: 0 none;
  border-radius: 6px;
  color: #005499;
  resize: none;
  height: 68px;
}


.input::placeholder {
  color:#B2CFDB;
}

.input:focus {
  box-shadow: 0 2px 7px #3289ffb3;
  outline: 0;
}

.input:invalid {
  border:1px;
}