.label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border-radius: 16px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  background: #5F4CFF;
  color: #FFFFFF;
}