.approach__two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12.8%;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 1023px) {
  .approach__two-columns {
    gap: 10.1%;
  }
}