.links__link {
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 16px;
  margin: 0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.links__link:hover {
  color: #37E0FF;
}