.afterword__text-secondary {
  font-family: 'Graphik';
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #63727e;
  mix-blend-mode: normal;

  width: 440px;
  margin: 0;
}
