.afterword__photo{
  background-image: url(../../../images/photo.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 560px;
  height: 680px;
  border-radius: 5px;
  border: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .afterword__photo {
    background: url(../../../images/photo-x2.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}