.afterword__photo {
  width: 560px;
  height: 680px;
}

.webp .afterword__photo {
  background-image: url(../../../images/webp/photo.webp);
}

.no-webp .afterword__photo {
  background-image: url(../../../images/png/photo.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .webp .afterword__photo {
    background-image: url(../../../images/webp2x/photo@2x.webp);
  }

  .no-webp .afterword__photo {
    background-image: url(../../../images/png2x/photo@2x.png);
  }
}