.promo__overlay {
  background-image: url(../../../images/overlay-fill.png);
  width: 1000px;
  height: 920px;

  position: absolute;
  left: calc(50% - 1000px/2);
  top: calc(50% - 920px/2);

  /* background: linear-gradient(180deg, #000000 52.11%, rgba(0, 0, 0, 0) 87.18%); */
  mix-blend-mode: soft-light;
  opacity: 0.5;
}