.services__item {
  position: relative;
}

.services__item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.services__item:hover::after {
  opacity: 1;
}

.services__item:hover .services__subtitle {
  color: var(--colorWhite);
}

.services__item:hover .services__text {
  color: var(--colorWhite);
}

.services__item:hover .services__state {
  color: var(--colorJellyBeanBlue);
  background-color: var(--colorWhite);
} 

.no-webp .services__item:hover::after {
  background-image: url('../../../images/background/background-main@1x.png');
}

.webp .services__item:hover::after {
  background-image: url('../../../images/background/background-main@1x.webp');
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .no-webp .services__item:hover::after {
    background-image: url('../../../images/background/background-main@2x.png');
  }
  
  .webp .services__item:hover::after {
    background-image: url('../../../images/background/background-main@2x.webp');
  }
}