.services__card {
  background-image: url("./images/bg-sec-direct.png");
  background-image: -webkit-image-set(
    url("./images/bg-sec-direct.webp") 1x,
    url("./images/bg-sec-direct.png") 1x
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: #005499;
  transition: .1s ease-in-out;
}

.services__card:hover {
  background-image: url("./images/bg-main-reverse.png");
  background-image: -webkit-image-set(
    url("./images/bg-main-reverse.webp") 1x,
    url("./images/bg-main-reverse.png") 1x
  );
  color: #FFFFFF;
}

@media (min-resolution: 2dppx) {
  .services__card {
    background-image: url("./images/bg-sec-direct@2x.png");
    background-image: -webkit-image-set(
      url("./images/bg-sec-direct@2x.webp") 2x,
      url("./images/bg-sec-direct@2x.png") 2x
    );
  }

  .services__card:hover {
    background-image: url("./images/bg-main-reverse@2x.png");
    background-image: -webkit-image-set(
      url("./images/bg-main-reverse@2x.webp") 2x,
      url("./images/bg-main-reverse@2x.png") 2x
    );
  }
}