.get__wrapper {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 120px 0 160px 0;

}

@media (max-width: 1439px) {
  .get__wrapper {
    gap: 64px;
    padding: 80px 0 80px 0;
  }
}
