.card__text {
  color: #63727E;
  font-family: 'Graphik LC';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.9px;
  line-height: 32px;
  margin: 0;
  max-width: 450px;
  transition: all 0.3s ease-in-out;
}