.card__text {
  color: #63727E;
  font-family: 'Graphik LC';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.9px;
  line-height: 32px;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width:1079px) {
  .card__text {
    font-size: 18px;
  }
}