.footer__links{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  min-width: 240px;
  margin: 0;
  padding: 0;
}
@media (max-width: 1439px) {
  .footer__links {
    min-width: 224px;
  }
}
