.cards__item_approach {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 590px;
  width: 100%;
  max-height: 332px;
  height: 100%;
  border: 1px solid rgba(223, 240, 246, 1);
  padding: 60px 0px;
}


