.menu__link {
  color: #005499;
  font-family: 'Graphik LC';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 32px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.menu__link:hover {
  color: #37E0FF;
}

.menu__link:active {
  color: #5F4CFF;
}

@media screen and (max-width: 1079px) {
  .menu__link {
    font-size: 18px;
    line-height: 28px;
  }
}