.menu__link {
  color: var(--colorUsafaBlue);
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.8px;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.menu__link:hover,
.menu__link:focus {
  color: #37E0FF;
}

.menu__link:active {
  color: #5F4CFF;
}

@media screen and (max-width: 1023px) {
  .menu__link {
    letter-spacing: 0.95px;
  }
}