.menu__link {
  color: #005499;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
}

@media (max-width: 1439px) {
  .menu__link {
    font-size: 18px;
    line-height: 28px;
  }
}
