.form__paragraph {
  font-family: 'Graphik Extralight';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  max-width: 205px;
  width: 100%;
  padding: 8px 0px 56px 0px;;
  margin: 0;
}