.section__background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  background-image: url('../../../images/background-2x.png');

  background-image: image-set('../../../images/background.png' 1x, '../../../images/background-2x.png' 2x);

  background-image: -webkit-image-set(url('../../../images/background.png') 1x,
      url('../../../images/background-2x.png') 2x);
}

@supports (background-image: url('../../../images/background.webp')) {
  .section__background {
    background-image: url('../../../images/background-2x.webp');

    background-image: image-set('../../../images/background.webp' 1x, '../../../images/background-2x.webp' 2x);

    background-image: -webkit-image-set(url('../../../images/background.webp') 1x,
        url('../../../images/background-2x.webp') 2x);
  }
}