.feedback__button-text {
  color: #FFF;
  font-family: Graphik LC;
  font-size: 20px;
  font-weight: 400;
  height: 32px;
  letter-spacing: -0.2px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  width: 138px;
}