.certifications__text {
  color: #63727E;
  font-family: 'Graphik LC';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.9px;
  line-height: 32px;
  margin: 0;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .certifications__text {
    font-size: 18px;
  }
}