.header__button {
  padding: 0;
  margin: 0;
  height: 44px;
  width: 138px;
  border-radius: 24px;
  background-color: #fff;
  border: 0;
  color: #5f4cff;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}