.menu__container {
  background-color: #FFF;
  box-shadow: 0px 5px 30px 0px rgba(50, 137, 255, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  justify-content: space-between;
  padding: 60px 0 60px 48px;
  position: absolute;
  right: -359px;
  top: 0;
  transition: right 0.3s ease-in-out;
  width: 359px;
  z-index: 5;
}

@media screen and (max-width:768px) {
  .menu__container {
    padding: 60px 0 60px 49px;
    right: -360px;
    width: 360px;
  }
}