.text_services-background-white {
  color: rgba(99, 114, 126, 1);
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 660px;
  transition: color 0.5s ease-in-out;
}

.cards__item_services:hover .text_services-background-white {
  color: #fff;
}


