.card_place_selected-customers {
  box-sizing: border-box;
  border: 1px solid #DFF0F6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 386px;
  height: 240px;
  border-radius: 0;
  padding: 0;
  margin: 0;
}