.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 120px 160px;
  gap: 100px;
  width: 1440px;
  height: 800px;
  background-image: url(../../images/promo__back-gradient.png);
  background-size: cover;
}