.afterword__item_subtext {
  font-family: 'Graphik Extralight';
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: left;
  color: rgba(99, 114, 126, 1);
}



