.form__input {
  box-sizing: border-box;
  padding: 24px;
  width: 560px;
  height: 64px;
  background: #ffffff;
  border-radius: 6px;
  border: none;
}

.form__input::placeholder {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #b2cfdb;
}

.form__input:hover {
  box-shadow: 0px 2px 5px rgba(50, 137, 255, 0.3);
}

.form__input:focus {
  box-shadow: 0px 2px 7px rgba(50, 137, 255, 0.7);
  outline: none;
}

.form__input:focus::placeholder {
  color: #005499;
}

.form__input:invalid {
  border: 1px solid #e21111;
}
