.form__input {
  display: block;
  width: 100%;
  height: 64px;
  color: var(--colorUsafaBlue);
  -moz-transition: box-shadow 0.3s ease-out, outline 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, outline 0.3s ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 0 48px 4px 24px;
  border: 0;
  border-radius: 6px;
  font-family: 'Graphik', 'Arial', sans-serif;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
}

.form__input::-webkit-input-placeholder {
  color: var(--colorLightSteelBlue);
  font-family: 'Graphik', 'Arial', sans-serif;
}

.form__input::-moz-placeholder {
  color: var(--colorLightSteelBlue);
  font-family: 'Graphik', 'Arial', sans-serif;
}

.form__input:-ms-input-placeholder {
  color: var(--colorLightSteelBlue);
  font-family: 'Graphik', 'Arial', sans-serif;
}

.form__input::-ms-input-placeholder {
  color: var(--colorLightSteelBlue);
  font-family: 'Graphik', 'Arial', sans-serif;
}

.form__input::placeholder {
  color: var(--colorLightSteelBlue);
  font-family: 'Graphik', 'Arial', sans-serif;
}

.form__input:focus {
  -webkit-box-shadow: 0px 2px 7px rgba(50, 137, 255, 0.7);
          box-shadow: 0px 2px 7px rgba(50, 137, 255, 0.7);
}

.form__input:-moz-submit-invalid {
  box-shadow: none;
  outline: 1px solid #e21111;
}

.form__input:-moz-ui-invalid {
  box-shadow: none;
  outline: 1px solid #e21111;
}

.form__input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 1px solid #e21111;
}

.form__input:-moz-submit-invalid + .form__caption {
  opacity: 1;
}

.form__input:-moz-ui-invalid + .form__caption {
  opacity: 1;
}

.form__input:invalid + .form__caption {
  opacity: 1;
}

.form__input:-moz-submit-invalid ~ .form__close-icon {
  opacity: 1;
}

.form__input:-moz-ui-invalid ~ .form__close-icon {
  opacity: 1;
}

.form__input:invalid ~ .form__close-icon {
  opacity: 1;
}