.card_size_m {
    -webkit-transition:
        background-image .2s linear,
        color .2s linear,
        -webkit-box-shadow .2s linear;
    transition:
        background-image .2s linear,
        color .2s linear,
        -webkit-box-shadow .2s linear;
    -o-transition:
        background-image .2s linear,
        color .2s linear,
        box-shadow .2s linear;
    transition:
        background-image .2s linear,
        color .2s linear,
        box-shadow .2s linear;
    transition:
        background-image .2s linear,
        color .2s linear,
        box-shadow .2s linear,
        -webkit-box-shadow .2s linear;
}