.partners {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-height: 1036px;
  padding: 0px 120px 160px;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}