.long-card {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  padding: 60px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 81, 192, 0.5);
  border-radius: 6px;
}