.long-card {
  /* background-image: url('../../images/background/secondary-direct@1x.png'); */
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 6px;
  box-shadow: 0px 1px 5px 0px #0051C080;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 60px 60px 60px 60px;
  transition: background-image 0.3s ease-out;
}


/* .portfolio .long-card {
  align-items: flex-start;
  margin: 0;
  max-width: 1200px;
  padding-bottom: 68px;
  padding-top: 60px;
}

.portfolio .long-card:nth-of-type(2) {
  background-image: url('../../images/background/secondary-reverse@1x.png');
} */

/* .services .long-card:hover {
  background-image: url('../../images/main-reverse.png');
  color: white;

} */



/* .portfolio .long-card:nth-of-type(2) {
  background-image: url('../../images/secondary-reverse.png');
} */

/* .services .long-card:nth-of-type(2) {
  background-image: url('../../../images/Main-reverse.png');
  box-shadow: 0px 10px 20px 0px #3289FF66;
  color: white;
} */