.long-card {
  background-image: url('../../images/secondary-background.png');
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 6px;
  box-shadow: 0px 1px 5px 0px #0051C080;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 60px 60px 60px 60px;
}


.portfolio .long-card {
  align-items: flex-start;
  margin: 0;
  max-width: 1200px;
  padding-bottom: 68px;
  padding-top: 60px;
}

.portfolio .long-card:nth-of-type(2) {
  background-image: url('../../images/secondary-reverse.png');
}

.services .long-card:nth-of-type(2) {
  background-image: url('../../../images/Main-reverse.png');
  box-shadow: 0px 10px 20px 0px #3289FF66;
  color: white;
}