.certifications__right-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  margin: 0;
  color: var(--colorAuroMetalSaurus);
  letter-spacing: 1px;
  font-size: 18px;
}