.subtitle {
  margin: 0;
  color: var(--colorUsafaBlue);
  line-height: 1;
  font-size: 36px;
  font-weight: 300;
}

@media screen and (max-width: 960px) {
  .subtitle {
    letter-spacing: 0;
    font-size: calc(1vw + 24px);
  }
}