.form__item_message {
  outline: none;
  border: 0;
  padding: 26px;
  font-family: 'Graphik Light';
  color: rgba(0, 84, 153, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  min-height: 68px;
  overflow: hidden;
  resize: none;
} 


.form__item_message:focus {
  box-shadow: 0px 2px 7px 0px rgba(50, 137, 255, 0.7);
}


.form__item_message:invalid {
  border: 1px solid rgba(226, 17, 17, 1)
}



