.separator-line {
  position: relative;
  max-width: 1200px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 0 none;
  margin: 0;
  color: var(--colorLightSteelBlue);
  background-color: var(--colorLightSteelBlue);
}