.content__text {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 32px;
  margin: 0;
  max-width: 660px;
  transition: color 0.3s ease-out;

}

.long-card_place_services:hover .content__text {
  color: white;
}

.portfolio .content__text {
  color: #4E7595;
}