.afterword {
  padding: 100px 120px 120px 120px;
  min-height: 956px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-self: start;
  background: linear-gradient(180deg, #EBF4FA 0%, #FFFFFF 48.7%);
}