.certifications__wrapper{
  padding: 0 120px 160px 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media (max-width: 1439px) {
  .certifications__wrapper {
    padding: 0 48px 80px 48px;
  }
}
