.afterword__quote-main {
  margin: 0;
  color: var(--colorUsafaBlue);
  letter-spacing: .8px;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .afterword__quote-main {    
    line-height: 28px;
    letter-spacing: .95px;
  }
}