.wrapper_section_promo {
  min-height: 920px;
  height: 100vh;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--colorWhite);
}

.no-webp .wrapper_section_promo {
  background-image: url('../../../images/background/background-main@1x.png');
}

.webp .wrapper_section_promo {
  background-image: url('../../../images/background/background-main@1x.webp');
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .no-webp .wrapper_section_promo {
    background-image: url('../../../images/background/background-main@2x.png');
  }
  
  .webp .wrapper_section_promo {
    background-image: url('../../../images/background/background-main@2x.webp');
  }
}