.card__image {
  align-items: center;
  background-repeat: no-repeat;
  background-size: 1440px 920px;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  display: flex;
  height: 120px;
  justify-content: center;
  overflow: hidden;
  width: 120px;
  background-image: url('../../../images/background.png');
  background-image: image-set('../../../images/background.png' 1x, '../../../images/background-2x.png' 2x);
  background-image: -webkit-image-set(url('../../../images/background.png') 1x,
      url('../../../images/background-2x.png') 2x);
}

@supports (background-image: url('../../../images/background.webp')) {
  .card__image {
    background-image: url('../../../images/background.webp');
    background-image: image-set('../../../images/background.webp' 1x, '../../../images/background-2x.webp' 2x);
    background-image: -webkit-image-set(url('../../../images/background.webp') 1x,
        url('../../../images/background-2x.webp') 2x);
  }
}