.promo__description {
  color: #FFF;
  font-family: 'Graphik LC';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.9px;
  line-height: 32px;
  margin: 0;
  max-width: 840px;
}

@media screen and (max-width: 768px) {
  .promo__description {
    font-size: 18px;
    max-width: 672px;
  }
}