.afterword__text-wrapper{
  max-width: 440px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1439px) {
  .afterword__text-wrapper {
    max-width: 336px;
  }
}
