@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/root/root.css');
@import url('../blocks/wrapper/wrapper.css');
@import url('../blocks/wrapper/_section/wrapper_section_promo.css');
@import url('../blocks/wrapper/_section/wrapper_section_coverage.css');
@import url('../blocks/wrapper/_section/wrapper_section_services.css');
@import url('../blocks/wrapper/_section/wrapper_section_afterword.css');
@import url('../blocks/wrapper/_section/wrapper_section_touch.css');
@import url('../blocks/wrapper/_section/wrapper_section_footer.css');
@import url('../blocks/container/container.css');
@import url('../blocks/container/_type/container_type_promo.css');
@import url('../blocks/container/_type/container_type_coverage.css');
@import url('../blocks/container/_type/container_type_approach.css');
@import url('../blocks/container/_type/container_type_certifications.css');
@import url('../blocks/container/_type/container_type_afterword.css');
@import url('../blocks/container/_type/container_type_outsmart.css');
@import url('../blocks/container/_type/container_type_customers.css');
@import url('../blocks/container/_type/container_type_touch.css');
@import url('../blocks/container/_type/container_type_footer.css');
@import url('../blocks/overlay/overlay.css');
@import url('../blocks/overlay/_section/overlay_section_promo.css');
@import url('../blocks/overlay/_section/overlay_section_coverage.css');
@import url('../blocks/logo/logo.css');
@import url('../blocks/button/button.css');
@import url('../blocks/button/_states/button_states.css');
@import url('../blocks/section-title/section-title.css');
@import url('../blocks/subtitle/subtitle.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__nav/header__nav.css');
@import url('../blocks/header/__button/header__button.css');
@import url('../blocks/menu/menu.css');
@import url('../blocks/menu/__link/menu__link.css');
@import url('../blocks/menu/__image/menu__image.css');
@import url('../blocks/menu/__list/menu__list.css');
@import url('../blocks/menu/__item/menu__item.css');
@import url('../blocks/menu/__ref/menu__ref.css');
@import url('../blocks/menu/__link/_states/menu__link_states.css');
@import url('../blocks/menu/__ref/_states/menu__ref_states.css');
@import url('../blocks/cards/cards.css');
@import url('../blocks/cards/__item/cards__item.css');
@import url('../blocks/two-columns/two-columns.css');
@import url('../blocks/box/box.css');
@import url('../blocks/box/__item/box__item.css');
@import url('../blocks/box/__item-container/box__item-container.css');
@import url('../blocks/box/__column/box__column.css');
@import url('../blocks/box/__item/_background/box__item_background_bottom.css');
@import url('../blocks/box/__item/_background/box__item_background_top.css');
@import url('../blocks/technologies/technologies.css');
@import url('../blocks/technologies/__item/technologies__item.css');
@import url('../blocks/numbered-cards/numbered-cards.css');
@import url('../blocks/numbered-cards/_item/numbered-cards__item.css');
@import url('../blocks/pagination/pagination.css');
@import url('../blocks/pagination/pagination__item/pagination.__item.css');
@import url('../blocks/pagination/pagination__item/_active/pagination__item_active.css');
@import url('../blocks/banners/banners.css');
@import url('../blocks/banners/__item/banners__item.css');
@import url('../blocks/banners/__image/banners__image.css');
@import url('../blocks/properties/properties.css');
@import url('../blocks/properties/__column/properties__column.css');
@import url('../blocks/properties/__caption/properties__caption.css');
@import url('../blocks/form/form.css');
@import url('../blocks/form/__container/form__container.css');
@import url('../blocks/form/__row/form__row.css');
@import url('../blocks/form/__input/form__input.css');
@import url('../blocks/form/__textarea/form__textarea.css');
@import url('../blocks/form/__caption/form__caption.css');
@import url('../blocks/form/__close-icon/form__close-icon.css');
@import url('../blocks/form/__button/form__button.css');
@import url('../blocks/phone-number/phone-number.css');
@import url('../blocks/phone-number/_states/phone-number_states.css');
@import url('../blocks/promo/promo.css');
@import url('../blocks/promo/__title/promo__title.css');
@import url('../blocks/promo/__text/promo__text.css');
@import url('../blocks/promo/__button/promo__button.css');
@import url('../blocks/coverage/coverage.css');
@import url('../blocks/coverage/__item/coverage__item.css');
@import url('../blocks/coverage/__content/coverage__content.css');
@import url('../blocks/coverage/__title/coverage__title.css');
@import url('../blocks/coverage/__text/coverage__text.css');
@import url('../blocks/coverage/__item/_background/coverage__item_background_pink.css');
@import url('../blocks/coverage/__item/_background/coverage__item_background_blue.css');
@import url('../blocks/services/__item/services__item.css');
@import url('../blocks/services/__left-column/services__left-column.css');
@import url('../blocks/services/__right-column/services__right-column.css');
@import url('../blocks/services/__text/services__text.css');
@import url('../blocks/approach/approach.css');
@import url('../blocks/approach/__item/approach__item.css');
@import url('../blocks/approach/__two-columns/approach__two-columns.css');
@import url('../blocks/approach/__left-column/approach__left-column.css');
@import url('../blocks/approach/__image-container/approach__image-container.css');
@import url('../blocks/approach/__image/approach__image.css');
@import url('../blocks/approach/__right-column/approach__right-column.css');
@import url('../blocks/approach/__text/approach__text.css');
@import url('../blocks/approach/__pagination/approach__pagination.css');
@import url('../blocks/approach/__image-container/_type/approach__image-container_type_discovery.css');
@import url('../blocks/approach/__image-container/_type/approach__image-container_type_audit.css');
@import url('../blocks/approach/__image-container/_type/approach__image-container_type_delivery.css');
@import url('../blocks/approach/__image-container/_type/approach__image-container_type_support.css');
@import url('../blocks/certifications/certifications.css');
@import url('../blocks/certifications/__left-column/certifications__left-column.css');
@import url('../blocks/certifications/__right-column/certifications__right-column.css');
@import url('../blocks/afterword/afterword.css');
@import url('../blocks/afterword/__left-column/afterword__left-column.css');
@import url('../blocks/afterword/__image/afterword__image.css');
@import url('../blocks/afterword/__right-column/afterword__right-column.css');
@import url('../blocks/afterword/__author/afterword__author.css');
@import url('../blocks/afterword/__author-speciality/afterword__author-speciality.css');
@import url('../blocks/afterword/__quote/afterword__quote.css');
@import url('../blocks/afterword/__quote-main/afterword__quote-main.css');
@import url('../blocks/afterword/__quote-secondary/afterword__quote-secondary.css');
@import url('../blocks/outsmart/outsmart.css');
@import url('../blocks/outsmart/__item/outsmart__item.css');
@import url('../blocks/outsmart/__image/outsmart__image.css');
@import url('../blocks/outsmart/__content/outsmart__content.css');
@import url('../blocks/outsmart/__subtitle/outsmart__subtitle.css');
@import url('../blocks/outsmart/__text/outsmart__text.css');
@import url('../blocks/outsmart/__pagination/outsmart__pagination.css');
@import url('../blocks/portfolio/__left-column/portfolio__left-column.css');
@import url('../blocks/portfolio/__right-column/portfolio__right-column.css');
@import url('../blocks/portfolio/__text/portfolio__text.css');
@import url('../blocks/portfolio/__button/portfolio__button.css');
@import url('../blocks/customers/customers.css');
@import url('../blocks/customers/__item/customers__item.css');
@import url('../blocks/customers/__image/customers__image.css');
@import url('../blocks/customers/__pagination/customers__pagination.css');
@import url('../blocks/touch/touch.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__contact/footer__contact.css');
@import url('../blocks/footer/__menu/footer__menu.css');
@import url('../blocks/footer/__row-bottom/footer__row-bottom.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
