@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.root {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background: #2a2c2f;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  outline: #df0013 solid 1px;
  box-sizing: content-box;
  overflow: hidden;
  display: grid;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  grid-template: minmax(min-content, max-content) 1fr minmax(min-content, max-content) / 1fr;
  grid-template-areas:
    'header'
    'content'
    'footer';
}
