.icon_approach-support {
  background-image: url('../../../../images/background-icon-support-1x.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 6px;
  width: 120px;
  height: 120px;
}