.portfolio__left-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  margin-top: -5px;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .portfolio__left-column {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-top: 0;
  }
}