.approach__card-icon-wrapper{
  background-image: url("../images/bg-main-direct.png");
  background-image: -webkit-image-set(
    url("./images/bg-main-direct.webp") 1x,
    url("./images/bg-main-direct.png") 1x
  );
  background-repeat: no-repeat;
  min-height: 120px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
}
@media (min-resolution: 2dppx) {
  .approach__card-icon-wrapper {
    background-image: url("./images/bg-main-direct@2x.png");
    background-image: -webkit-image-set(
      url("./images/bg-main-direct@2x.webp") 2x,
      url("./images/bg-main-direct@2x.png") 2x
    );
  }
}
