.customers__card {
  border: 1px solid #dff0f6;
  min-height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__card:hover {
  box-shadow: 0px 1px 10px rgba(0, 81, 192, 0.1);
}
