.long-card__title {
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #005499;
  mix-blend-mode: normal;
}