.portfolio__card-text {
  color: #63727E;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 32px;
  margin: 0;
  max-width: 660px;
  padding: 0;
}

@media (max-width: 1439px) {
  .portfolio__card-text {
    font-size: 18px;
    line-height: 32px;
  }
}
