.afterword__text {
  color: #63727E;
  font-family: 'Graphik LC';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.88px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .afterword__text {
    font-size: 18px;
    line-height: 28px;
  }
}