.footer {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-height: 440px;
  padding: 80px 120px 60px;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}