.customers {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 386px));
  grid-auto-rows: 240px;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1023px) {
  .customers {
    grid-template-columns: repeat(2, minmax(326px, 1fr));
  }
}