.menu__get-btn{
  background: linear-gradient(45deg, #6F38FE 0%, #EF09D2 100%);
  box-shadow: 0 5px 20px rgba(119, 78, 241, 0.5);
  border-radius: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 14px 24px;
  border: 0;
  outline: none;
}
.menu__get-btn:hover{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 7px rgba(119, 78, 241, 0.7);
}
.menu__get-btn:active{
  box-shadow: 0 1px 2px rgba(119, 78, 241, 0.9);
}