.form__item_type_message {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    height: 67px;
    max-height: 200px;
    margin: 0;
    /* resize: vertical; */
    resize: none;
    /* display: inline-block; */
    overflow: hidden;

}