.feedback__button {
  background-color: #1C3C56;
  border-radius: 32px;
  border: 0;
  box-shadow: 0px 5px 30px 0px #3289FF80;
  height: 62px;
  padding: 16px 40px 16px 40px;
  width: 224px;
  color: #FFF;
  font-family: Graphik LC;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.feedback__button:hover {
  box-shadow: 0px 2px 7px 0px #3289FFB2;
  background-color: #005499;
}

.feedback__button:active {
  box-shadow: 0px 1px 2px 0px #3289FFE5;
  background-color: #024780;
}