.feedback__button {
  align-items: center;
  background-color: #1C3C56;
  border-radius: 32px;
  border: 0;
  box-shadow: 0px 5px 30px 0px #3289FF80;
  cursor: pointer;
  display: flex;
  height: 64px;
  justify-content: center;
  padding: 16px 40px 16px 40px;
  transition: all 0.1s ease-in-out;
  width: 218px;
}

.feedback__button:hover {
  box-shadow: 0px 2px 7px 0px #3289FFB2;
  background-color: #005499;
}

.feedback__button:active {
  box-shadow: 0px 1px 2px 0px #3289FFE5;
  background-color: #024780;
}