.cards__icon {
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: 120px;
  justify-content: center;
  width: 120px;
}

.webp .cards__icon {
  background-image: url(../../../images/webp/bg.webp);
}

.no-webp .cards__icon {
  background-image: url(../../../images/png/bg.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .webp .cards__icon {
    background-image: url(../../../images/webp2x/bg@2x.webp);
  }

  .no-webp .cards__icon {
    background-image: url(../../../images/png2x/bg@2x.png);
  }
}