.approach__card-title {
  color: #005499;
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1439px) {
  .approach__card-title {
    font-size: 32px;
    line-height: 32px;
  }
}
