.card {
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.card:last-of-type {
    margin-bottom: 0px;
}