.properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 120px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
}