.overlay_mode_fill {
  background-image: url(../../../images/overlay-fill.png);

  /* background: linear-gradient(180deg, #000000 52.11%, rgba(0, 0, 0, 0) 87.18%); */
  mix-blend-mode: soft-light;
  opacity: 0.5;
}