.services__cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 19px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1079px) {
  .services__cards {
    gap: 20px;
  }
}