.button {
    background-color: #fff;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    line-height: 1;
    color: #5F4CFF;
    height: 32px;
    margin-left: 3px;
}

.button:first-of-type {
    margin: 0;
}