.button {
  border: 0;
  border-radius: 24px;
  padding: 14px 24px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: none;
}
.button:hover {
  box-shadow: 0px 2px 7px 0px #3289FFB2;

}

.button:active {
  box-shadow: 0px 1px 2px 0px #3289FFE5;

}

.get-in-touch .button {
    padding: 16px 40px;
    color: white;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    background-color: #1C3C56;
    box-shadow: 0px 5px 30px rgba(50, 137, 255, 0.5);
    border-radius: 32px;
  
}
