.button {
    background-color: #fff;
    border: none;
    border-radius: 24px;
    font-weight: 300;
    font-size: 16.6px;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #5F4CFF;
    height: 32px;
    -webkit-transition:
        background-color .1s linear,
        color .1s linear,
        box-shadow .1s linear;
    -o-transition:
        background-color .1s linear,
        color .1s linear,
        box-shadow .1s linear;
    transition:
        background-color .1s linear,
        color .1s linear,
        box-shadow .1s linear;
}

.button:first-of-type {
    margin: 0;
}