.why__cards {
  margin: 0 auto;
  padding: 0 0 100px 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 1200px;
  border-bottom: 1px solid #B2CFDB;
}