.section__title{
  margin: 0;
  margin-bottom: 100px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 16px;
  text-transform: uppercase;
  color: #63727E;
  z-index: 2;
  padding: 0;
}
@media (max-width: 1439px) {
  .section__title {
    font-size: 14px;
    letter-spacing: 14px;
    margin-bottom: 64px;
  }
}
