.customers__link {
    display: block;
    height: 100%;
    padding: 0px 0 0;
    border: 1px solid #DFF0F6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}