.header__menu-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.header__menu-link .header__menu-image {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__menu-link:hover .header__menu-image {
  fill: #000;
}